# Variables d'environnement — contient des secrets, ne jamais partager
.env

# Dépendances installées — trop lourd et inutile sur Git
node_modules/

# Photos uploadées — fichiers générés, pas du code source
storage/photos/

# Fichiers système Mac
.DS_Store

#knexfile
knexfile.js